html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.one {
    background-color: royalblue;
}

.two {
    background-color: tomato;
}

.three {
    background-color: orange;
}

.four {
    background-color: greenyellow;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
}

.flex-container-two {
    display: flex;
    flex-direction: column;
}

.flex-item {
    height: 200px;
    width: 100%;
}

@media screen and (min-width: 992px) {
    .flex-wrapper {
        flex-direction: row;
        max-width: 1200px;
    }

    .flex-container-one {
        flex: 1;
    }

    .flex-container-two {
        flex: 1;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .one {
        height: 600px;
    }

    .two {
        flex: 1 1 300px;
        height: 300px;
    }

    .three {
        flex: 1 1 300px;
        height: 300px;
    }

    .four {
        flex: 2 0 600px;
        height: 300px;
    }
}
